.parallax1{
    height: 100%;
    background-size: cover;
    width: 560px;

}
.parallax2{
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    width: 560px;
}

#f1>.parallax1, .page1{
    background:url('https://www.holidify.com/images/bgImages/LADAKH.jpg') no-repeat center;
    background-attachment: fixed;
}

#f1>.parallax2,.page1{
    background:url('https://static.businessworld.in/article/article_extra_large_image/1568796121_f5AMoq_Ladakh_660x330.jpg') no-repeat center;
    background-attachment: fixed;
}

#b1>.parallax1,.page2{
    background:url('https://www.planetware.com/photos-large/IND/india-delhi-red-fort.jpg') no-repeat center;
    background-attachment: fixed;
}

#b1>.parallax2,.page2{
    background:url('https://www.planetware.com/photos-large/IND/india-delhi-india-gate.jpg') no-repeat center;
    background-attachment: fixed;
}





.back, .hardcover > .back-content{
    background-color: #8e838377;
    padding: 0%;
    justify-content: center;
}

.link{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.icons{
    margin-left: 20px;
    width:50px;
    background: beige;
}

.icons.facebook:hover{
    content: "facebook link to tourism" !important;
}

* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: powderblue;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}


.p{
   font-family: 'Montserrat', sans-serif;
   width:580px;

}



.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}
p{
    padding: 3px;
    font-size: small;
    width: 580px;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}
